.gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  background-color: #f0f0f0;
}
.positionContainer{
  align-items: center;
  padding: 5%;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 90%;
  border-radius: 40px;
}
.search-bar input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  width: 100%;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.secImgCard{
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 1px,0px,4px,0px,#ccc;
  background-color: #f0f0f0;
  text-align: center;
  margin-bottom: 10px;
}

.image-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}


.image-info {
  padding: 10px;
  flex: 1;
}
/* .result{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
} */
.resultDesc{
  margin: 10px 0;
}
.username{
  margin: 10px 0;
}
.container1{
  margin: 10px;
  padding: 10px;
}
.thirdImg{
  max-width:100%
}